/* @media(max-width: 1200px) {}

@media(max-width: 1025px) {}

@media (max-width: 998px) {}
 */
@media(max-width: 769px) {

    .top-owl .item .caption h2,
    .next-owl .item .caption h2 {
        font-size: 32px;
    }

    .top-owl .item .caption h6,
    .next-owl .item .caption h6 {
        font-size: 50px;
    }

    /*PORTFOLIO*/
    .main-sec .nav {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .nav-pills .nav-link::before {
        display: none;
    }

    .pills-section {
        text-align: center;
    }

    /*SERVICES*/
    .service-item {
        padding: 40px 25px;
    }

    /*ABOUT US*/
    .about-us-section {
        background: var(--white-color);
        padding: 60px 0;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .about-text {
        margin-top: 30px;
    }

    .about-us-image img {
        margin-bottom: 30px;
    }

    /*FOOTER*/
    .footer-section {
        margin-bottom: 25px;
    }

    /*ABOUT SINGLE*/
    .top-about-left {
        margin-bottom: 20px;
    }

    /*BLOG*/
    .blog-text-area {
        margin-bottom: 20px;
    }
    /*OUR TEAMS*/
    .member-image img {
        height: 200px;
    }
    .no-mobile{
        display: none;
    }
    .row-25 .mega-links li a {
        font-size: 13px;
    }
    .tour-information {
  margin-top: 20px;
}
}

@media(max-width: 426px) {

    .top-owl .item .caption h2,
    .next-owl .item .caption h2 {
        font-size: 22px;
    }

    .top-owl .item .caption h6,
    .next-owl .item .caption h6 {
        font-size: 35px;
    }

    .top-owl .item .caption p,
    .next-owl .item .caption p {
        font-size: 16px;
    }
    .main-title h2 {
    font-size: 25px;
}

    /*PORTFOLIO*/
    .main-sec .nav {
        justify-content: center;
    }

    /*MORE LEADS*/
    .more-leads-top {
        font-size: 27px;
    }

    .more-leads-second {
        font-size: 19px;
    }

    .tools-used-image img {
        width: 140px;
        height: 140px;
        margin-bottom: 10px;
    }

    /*THANK YOU*/
    .wrapper-1 {
        height: auto;
    }

    /*ERROR*/
    .error-page h1 {
        font-size: 84px;
        margin-bottom: 20px;
    }

    /*BREADCRUMB*/
    .breadcrumb-section h1 {
        font-size: 30px;
    }
    /*OUR TEAMS*/
    .member-image img {
        height: 250px;
    }
    /*REVIEWS*/
    .review {
        padding: 2rem;
    }

}

@media(max-width: 376px) {

    .portfolio-slider-text h2::after {
        left: 9%;
    }

    .service-item h4 {
        font-size: 20px;
    }

    /*ABOUT*/
    .about-image img {
        width: 300px;
        height: 300px;
        object-fit: cover;
        border-radius: 50%;
    }
}

@media(max-width: 321px) {}